<nz-layout>
  <nz-header>
    <img src="assets/logo.png" alt="Logo" id="logo">
    <nz-divider></nz-divider>
  </nz-header>
  <nz-content>
    <road-section></road-section>
    <nz-divider></nz-divider>
    <parc-ferme></parc-ferme>
  </nz-content>
  <nz-footer>
    <nz-divider></nz-divider>
    <div class="footer">
      <p>Powered by</p>
      <a href="https://www.battledrive.fr" target="_blank">
        <img src="assets/battledrive.png" alt="BattleDrive Competition">
      </a>
    </div>
  </nz-footer>
</nz-layout>